/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Arial;
}
.main_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}
/* --------- section product */
.product {
  background: #445162;
}
.product_container_left {
  display: flex;
  flex-direction: column;
}
.product_container_right {
  width: 470px;
  height: auto;
}
.product_title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 35px 0;
}
.product_list {
  max-width: 458px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.product_list li {
  padding: 0 0 0 35px;
  box-sizing: border-box;
  position: relative;
}
.product_list li:before {
  content: "";
  background-image: url(../img/check_icon.png);
  position: absolute;
  top: 3px;
  left: 2px;
  display: block;
  width: 25px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* --------- section about */
.about_container {
  display: flex;
  flex-direction: column;
  max-width: 653px;
}
.about_title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px 0;
}
.about_container p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px 0;
}
.about_container p:last-child {
  margin: 0;
}
.about_img {
  max-width: 430px;
  height: auto;
}
/* --------- section about_product */
.about_product {
  background: #f5f5f5;
  padding: 50px 50px 15px 50px;
  box-sizing: border-box;
}
.about_product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_product__title {
  margin: 0 0 30px;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  display: block;
  width: 100%;
  text-align: center;
}
.about_product__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}
.about_product__list li {
  flex-basis: 50%;
  margin: 0 0 35px 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 0 0 41px;
  position: relative;
  box-sizing: border-box;
}
/* делаем эелемент через content а не через img */
.about_product__list li:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  /* border: 1px solid red; */
  top: 0;
  left: 0;
  background-color: #445161;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 32px;
}
/* --------- section Screenshots */
/* .main_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
} */
.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 20px 50px;
  box-sizing: border-box;
}
.screenshots_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.screenshots_title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  flex-basis: 100%;
  margin: 0 0 30px;
  display: block;
  width: 100%;
  text-align: center;
}
.screenshots_images {
  display: flex;
  flex-direction: row;
  flex-basis: 49%;
  margin: 0 10px 30px 0;
}
.screenshots_images img {
  min-height: 150px;
  min-width: 200px;
}
.screenshots_description {
  margin: 0 0 0 15px;
}
.screenshots_description h3 {
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 13px;
}
.screenshots_description p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.ttf");
  /* font-weight: normal;
  font-style: normal; */
}
