/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Arial;
}
.main_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}

/* --------- section product */

.product {
  background: #445162;
}

.product_container_left {
  display: flex;
  flex-direction: column;
}
.product_container_right {
  width: 470px;
  height: auto;
}
.product_title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 35px 0;
}
.product_list {
  max-width: 458px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.product_item::before {
  content: "";
  background-image: url(../img/check_icon.png);
  display: inline-block;
  width: 25px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}
.product_img {
}

/* --------- section about */
/* .about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0 50px 0;
} */
.about_container {
  display: flex;
  flex-direction: column;
  max-width: 653px;
}
.about_title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 30px 0;
}
.about_container p {
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.about_img {
  max-width: 430px;
  height: auto;
}

/* --------- section about_product */

.about_product {
  background: #f5f5f5;
}
.about_product_container {
  /* padding: 50px 0 50px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_product__title {
  margin: 0 0 30px;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.about_product__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}
.about_product__item {
  flex-basis: 48%;
  margin-bottom: 35px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 20px;
}
.about_product__item::before {
  content: "";
  margin-right: 10px;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-image: url(../img/plus_icon.png);
  background-size: cover;
}

/* --------- section Screenshots */

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px 0 50px 0;
  width: 100%; */
}
.screenshots_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.screenshots_title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  flex-basis: 100%;
  margin: 0 0 30px;
}
.screenshots_images {
  display: flex;
  flex-basis: 48%;
  margin: 0 15px 30px 0;
  /* padding: 15px 15px 15px 0; */
  min-height: 150px;
  min-width: 200px;
}
.screenshots_images h3 {
  color: #445161;

  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 15px;
}
.screenshots_images p {
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.screenshots_description {
  margin: 0 0 0 15px;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.ttf");
  /* font-weight: normal;
  font-style: normal; */
}
