@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/raleway-regular.ttf"); }
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-extrabold.ttf"); }
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat-light.otf"); }
body {
  width: 1920px;
  margin: 0 auto; }

.header_container {
  max-width: 1920px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 0 0; }

.header_nav_wrap {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto 285px auto;
  flex-basis: 100%; }

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 181px;
  margin: 0; }

.header_logo__icon {
  fill: currentColor; }

.header_logo:hover .header_logo__icon {
  fill: #c7b299; }

.header_logo:active .header_logo__icon {
  fill: #c7b299; }

.header_logo__text {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  font-family: "Raleway", sans-serif;
  font-style: normal; }

.header_logo:hover .header_logo__text {
  color: #c7b299; }

.header_logo:active .header_logo__text {
  color: #c7b299; }

.header_nav {
  display: flex;
  box-sizing: border-box;
  flex-direction: row; }

.header_nav_list {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap; }

.header_nav_list_item a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  margin: 0 30px 0 0;
  text-align: left;
  letter-spacing: normal;
  line-height: normal; }

.header_nav_list_item:hover a {
  color: #c7b299; }

.header_nav_cart {
  display: block;
  color: #fff;
  padding: 0;
  background: none;
  border: none;
  margin: 0 28px 0 63px; }

.header_nav_cart:focus {
  outline: none; }

.header_nav_cart:hover .header_nav_cart_icon {
  fill: #c7b299; }

.header_nav_cart:active .header_nav_cart_icon {
  fill: #c7b299; }

.header_nav_cart_icon {
  fill: currentColor; }

.header_nav_search {
  display: block;
  color: #fff;
  padding: 0;
  background: none;
  border: none;
  margin: 0; }

.header_nav_search:focus {
  outline: none; }

.header_nav_search:hover .header_nav_search_icon {
  fill: #c7b299; }

.header_nav_search:active .header_nav_search_icon {
  fill: #c7b299; }

.header_nav_search_icon {
  fill: currentColor; }

.header_content {
  margin: 285px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 600px; }

.header_content_wrap {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  color: #fff; }

.header_content_title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin: 0 0 14px 0; }

.header_content_subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin: 0 0 19px 0; }

.header_content_wrap p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  line-height: normal;
  max-width: 562px;
  margin: 0 0 52px 0; }

.header_content_bnt {
  display: flex;
  box-sizing: border-box;
  width: 170px;
  padding: 21px 0 18px 0;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal; }

.header_content_bnt:focus {
  outline: none; }

.header_content_bnt:hover {
  color: #eee2e2;
  background-color: #8a735f;
  border-bottom: 3px solid #635245; }

.header_content_bnt:active {
  color: #8a735f;
  background-color: #eee2e2;
  border-bottom: 3px solid #eee2e2; }

.header_content_bnt span {
  margin: auto; }

.header_slider_left {
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
  margin: 0 476px 0 0; }

.header_slider_left::after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 49px;
  border-bottom: 3px solid #ccc;
  border-left: 3px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
  top: 9px;
  left: 11px; }

.header_slider_left:hover::after {
  border-bottom: 3px solid #6d6363;
  border-left: 3px solid #6d6363; }

.header_slider_right {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
  margin: 0 0 0 476px; }

.header_slider_right::after {
  content: "";
  display: inline-block;
  width: 49px;
  height: 49px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -23px; }

.header_slider_right:hover::after {
  border-top: 3px solid #6d6363;
  border-right: 3px solid #6d6363; }

.header_carusel_pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
  margin: 329px 0 42px 0; }

.header_carusel_pagination a {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  background-color: #ccc;
  border: 1px solid transparent; }

.header_carusel_pagination a:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2); }

.card_container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 80px 0 80px 0; }

.card_container div {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  max-width: 266px;
  margin: 0 34px 0 0; }

.card_web_icon {
  fill: #555555;
  margin: 0 0 29px 0; }

.card_web span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #555555;
  font-size: 22px; }

.card_web p {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  margin: 19px 0 30px 0;
  text-align: center; }

.card_web:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9; }

.card_web:hover span {
  color: #c7b299;
  cursor: pointer; }

.card_web:hover svg {
  fill: #c7b299;
  cursor: pointer; }

.card_web:hover::after {
  background-color: #c7b299; }

.card_development_icon {
  fill: #555555;
  margin: 0 0 29px 0; }

.card_development span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #555555;
  font-size: 22px; }

.card_development p {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  margin: 19px 0 30px 0;
  text-align: center; }

.card_development:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9; }

.card_development:hover span {
  color: #c7b299;
  cursor: pointer; }

.card_development:hover svg {
  fill: #c7b299;
  cursor: pointer; }

.card_development:hover::after {
  background-color: #c7b299; }

.card_customization_icon {
  fill: #555555;
  margin: 0 0 29px 0; }

.card_customization span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #555555;
  font-size: 22px; }

.card_customization p {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  margin: 19px 0 30px 0;
  text-align: center; }

.card_customization:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9; }

.card_customization:hover span {
  color: #c7b299;
  cursor: pointer; }

.card_customization:hover svg {
  fill: #c7b299;
  cursor: pointer; }

.card_customization:hover::after {
  background-color: #c7b299; }

.card_marketing_icon {
  fill: #555555;
  margin: 0 0 29px 0; }

.card_marketing span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #555555;
  font-size: 22px; }

.card_marketing p {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  margin: 19px 0 30px 0;
  text-align: center; }

.card_marketing:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9; }

.card_marketing:hover span {
  color: #c7b299;
  cursor: pointer; }

.card_marketing:hover svg {
  fill: #c7b299;
  cursor: pointer; }

.card_marketing:hover::after {
  background-color: #c7b299; }

.multifons {
  background-color: #fbfaf8;
  padding: 83px 0 0 0; }

.multifons_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; }

.multifons_content span {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 24px 0; }

.multifons_content p {
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  max-width: 757px;
  text-align: center;
  margin: 0 0 40px 0;
  line-height: 28px; }

.multifons_content_img {
  width: 1230px;
  min-height: 485px;
  background-image: url(../img/multifons-center.png), url(../img/multifons-left.png), url(../img/multifons-right.png);
  background-size: 63%, 62%, 61%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right; }

.multifons_footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0 50px 0;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.multufons_footer_conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1170px; }

.multifons_footer_wrp {
  display: flex;
  flex-direction: column; }

.multifons_footer_wrp p {
  margin: 0 0 8px 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal; }

.multifons_footer_wrp p span {
  color: #c7b299; }

.multifons_footer_wrp p:last-child {
  color: #615855;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal; }

.multifons_footer_bnt {
  display: flex;
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 23px; }

.multifons_footer_bnt:focus {
  outline: none; }

.multifons_footer_bnt:hover {
  color: #eee2e2;
  background-color: #8a735f;
  border-bottom: 3px solid #635245; }

.multifons_footer_bnt:active {
  color: #8a735f;
  background-color: #eee2e2;
  border-bottom: 3px solid #eee2e2; }

.multifons_footer_bnt span {
  margin: auto auto; }

.project {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0 80px 0; }

.project_content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  margin: 0 0 40px 0; }

.project_content span {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 24px 0; }

.project_content p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  color: #8c8c8c;
  max-width: 757px;
  text-align: center;
  margin: 0 0 40px 0; }

.project_list {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0; }

.project_list_item {
  list-style: none;
  margin: 0 10px 0 0;
  width: 120px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.project_list_item:focus {
  outline: none; }

.project_list_item:hover {
  color: #eee2e2;
  background-color: #8a735f; }

.project_list_item:active {
  color: #8a735f;
  background-color: #998675; }

.project_list_item span {
  color: #8c8c8c;
  margin: 0; }

.project_list_item:hover span {
  color: #fff;
  margin: 0; }

.project_list_item:active span {
  color: #fff;
  margin: 0; }

.project_list_item:first-child {
  list-style: none;
  margin: 0 10px 0 0;
  width: 70px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb; }

.project_list_item:first-child:focus {
  outline: none; }

.project_list_item:first-child:hover {
  color: #eee2e2;
  background-color: #8a735f; }

.project_list_item:first-child:active {
  color: #8a735f;
  background-color: #998675; }

.project_list_item:first-child span {
  color: #8c8c8c;
  margin: 0; }

.project_list_item:first-child:hover span {
  color: #fff;
  margin: 0; }

.project_list_item:first-child:active span {
  color: #fff;
  margin: 0; }

.project_list_item:last-child {
  list-style: none;
  margin: 0;
  width: 135px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb; }

.project_list_item:last-child:focus {
  outline: none; }

.project_list_item:last-child:hover {
  color: #eee2e2;
  background-color: #8a735f; }

.project_list_item:last-child:active {
  color: #8a735f;
  background-color: #998675; }

.project_list_item:last-child span {
  color: #8c8c8c;
  margin: 0; }

.project_list_item:last-child:hover span {
  color: #fff;
  margin: 0; }

.project_list_item:last-child:active span {
  color: #fff;
  margin: 0; }

.project_list_item span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
  display: block;
  line-height: 21px;
  margin: 0; }

.project_cards_wrap {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.project_card {
  max-width: 370px;
  max-height: 337px;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  flex-basis: 33%; }

.project_card_wrap {
  background-color: #fbfaf8;
  padding: 30px 0 27px 29px;
  position: relative; }

.project_card_wrap::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -25px;
  left: 19px; }

.project_card_wrap p {
  background-color: #fbfaf8;
  margin: 0 0 14px 0; }

.project_card_wrap p:first-child {
  color: #c7b299;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal; }

.project_card_wrap p:last-child {
  color: #d1d1d1;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  margin: 0; }

.project_bnt {
  display: flex;
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  margin: 40px 0 0 0; }

.project_bnt:focus {
  outline: none; }

.project_bnt:hover {
  color: #eee2e2;
  background-color: #8a735f;
  border-bottom: 3px solid #635245; }

.project_bnt:active {
  color: #8a735f;
  background-color: #eee2e2;
  border-bottom: 3px solid #eee2e2; }

.project_bnt span {
  margin: auto auto;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
